/*DOCUMENTO CSS*/

* { margin: 0;
    padding: 0; }

body{background-color: rgb(228, 183, 250);}

div{ box-sizing: border-box;}

h1{background-color: rgb(193, 129, 253);
    text-align: center;
    color: aliceblue;
    padding: 20px;}

    .cabecera { height: 100px;
        background-color: rgb(97, 97, 179);
        padding: 20px 0px 0px 0px;}

        .tablas { margin: 15px;}

        .tablas table {margin: auto;}

        .videos{ background: blanchedalmond;
            width: 80%;
            margin: auto;
            display: flex;}

        .insertar,.incrustar{ width: 50%;
                                background: blue;
                                min-height: 1px;}

        .insertar video{ width: 100%;
                         height: 350px;}

        .incrustar video{width: 100%;
                         height: 350px;}